body{
    color:#00AEEF;
    background-color: white;
    margin: 0;
    
}
.navigation-container{
    display:  grid;
    grid-template-columns: repeat(5,20%);
    text-align: center;
    height:40px;
     
}

.nav-item{
    border: 3px solid #00AEEF;
    border-bottom: 3px solid #00AEEF;
    /*border-right:0px;*/
    font-size: medium;
    font-weight:bold;
   
    /*height: 35px;*/
    
}

#logo{
    /*border-right: 2.5px;*/
    font-style: italic;
    font-size: medium;
    font-weight:bold;
    
}
#c{
    /*border-right: 3px;*/
}
.home-container{
    display: grid;
    grid-template-columns: repeat(2,50%);
    text-align: center;
   
}

.home-item{
    border: 3px solid #00AEEF;
    border-top:0;
    border-bottom: 3px solid #00AEEF;
    /*border-right:3px;*/
    font-size:16px;
   
}
.home-item1{
    border-right: 0px;
}
.home-item2{
    /*border-right: 3px;*/
}

#img{
    height:100%;
    width: 100%;
}

.button{
    
    border:3px solid #00AEEF;
    color:#00AEEF ;
     padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 18px;
    
    /*margin: 100px 2px;*/
    margin-top: 350px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right:50px;
    cursor: pointer;
}
.btn{
    color:#00AEEF;
    border-radius: 10px;
    
    }
.btn:hover{
  
    background-color:#00AEEF; 
      color:white;
}

.team-container{
    display: grid;
    grid-columns: 3;
    grid-gap: 20px;
    border: 3px solid #00AEEF;
    border-top: 0;
    border-bottom: 0;
    grid-template-columns: repeat(3,30%);
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    }

.circle{
    color: #00AEEF;
    padding: 80px 20px;
    text-align: center;
   
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 20px;
    border :3px solid #00AEEF ;
    margin-bottom: 50px;
    
    
}
.circle1{
    border-radius: 50%;
}
.circle2{
   border-radius: 50%; 
}
.circle3{
    border-radius: 50%;
}
.circle1:hover{
    
    background-color:#00AEEF;
    color:white;
}
.circle2:hover{
   background-color:#0000FF;
   color:white;
}
.circle3:hover{
    background-color:#FF00FF;
    color:white;
}

.about-container{
    display: grid;
    grid-columns: 4;
    grid-gap: 15px;
    border: 3px solid #00AEEF;
    border-top: 0;
    grid-template-columns: repeat(4,22.5%);
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
   
}


.card{
    border-radius:50px;
    /*padding:70px!important;*/
    display:inline-block;
    margin-top:20px;
    margin-bottom:50px;
    border:3px solid #00AEEF; 
    /*padding-left:20px!important;*/
    /*padding-right:20px;*/
    padding: 60px 15px;
    margin-right:15px;
    margin-left: 15px;
   
    
}
.card:hover{
    background-color: #00AEEF;
    color:white;
}

.contact-container{
    grid-template-columns: repeat(1,100%);
    font-size: 25px;
    text-align: center;
    border: 3px solid #00AEEF;
    border-top:0;
   
  }

